#!/bin/sh

# {{ ansible_managed }}

. {{openvpn_etc_dir}}/vars

# Prepare keys directory
[ -d "$KEY_DIR" ] || {

    mkdir "$KEY_DIR" && \
    chmod go-rwx "$KEY_DIR" && \
    touch "$KEY_DIR/index.txt" && \
    echo 01 >"$KEY_DIR/serial"

}

$EASY_RSA/pkitool --initca && \
$EASY_RSA/pkitool --server server && \
$OPENSSL dhparam -out ${KEY_DIR}/dh${KEY_SIZE}.pem ${KEY_SIZE}

{% for client in openvpn_clients %}
$EASY_RSA/pkitool {{ client }}
{% endfor %}
