#!/bin/bash

# First argument: Client identifier

KEY_DIR={{openvpn_key_dir}}
OUTPUT_DIR={{openvpn_client_dir}}
BASE_CONFIG={{openvpn_client_dir}}/base.conf

cat ${BASE_CONFIG} \
    <(echo -e '<ca>') \
    ${KEY_DIR}/ca.crt \
    <(echo -e '</ca>\n<cert>') \
    ${KEY_DIR}/${1}.crt \
    <(echo -e '</cert>\n<key>') \
    ${KEY_DIR}/${1}.key \
    <(echo -e '</key>\n<tls-auth>') \
    ${KEY_DIR}/ta.key \
    <(echo -e '</tls-auth>') \
    > ${OUTPUT_DIR}/{{inventory_hostname}}-${1}.ovpn
